<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
  <!-- Block3 -->
  <div class="block3">
    <%= link_to inspire.link, class: 'block3-img dis-block hov-img-zoom' do %>
      <%= image_tag inspire.image.url(:medium), alt: 'IMG-BLOG' %>
    <% end %>

    <div class="block3-txt p-t-14">
      <h4 class="p-b-7">
        <%= link_to inspire.title, inspire.link, class: 'm-text11 '%>
      </h4>

      <p class="s-text8 p-t-16">
        <%= inspire.content %>
      </p>
    </div>
  </div>
</div>
