<% unless @inspirations.empty? %>
  <!-- Blog -->
  <section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
      <div class="sec-title p-b-52">
        <h3 class="m-text5 t-center">
          Inspire
        </h3>
      </div>

      <div class="row">

        <% @inspirations.each do |inspiration| %>
          <%= render 'landing/components/inspiration_card', inspiration: inspiration %>
        <% end %>

      </div>
    </div>
  </section>
<% end %>
