<% unless @products.empty? %>
  <!-- New Product -->
  <section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
      <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
          Featured Products
        </h3>
      </div>

      <!-- Slide2 -->
      <div class="wrap-slick2">
        <div class="slick2">

          <% @products.each do |product| %>
            <%= render 'landing/components/product_card', product: product %>
          <% end %>

        </div>
      </div>

    </div>
  </section>
<% end %>
