<p>
  This is your E-Commerce Admin Panel Home page.
</p>
<p>
  Here you can add/edit/delete content for your landing page. Click on the menu items on the top of the page to manage
  your content.
</p>
